<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body class="container">
<h1 th:text="$title"></h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${course}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="instructor">Instructor</label>
        <input class="form-control" th:field="*{instructor}" />
        <span th:errors="*{instructor}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="difficulty">Difficulty</label>
        <select name="difficultyId">
            <option th:each="difficulty : ${difficulties}"
                    th:text="${difficulty.name}"
                    th:value="${difficulty.id}"></option>
        </select>
    </div>

    <input type="submit" value="Create Course" />
</form>


</body>
</html>