<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Course Manager</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<nav th:fragment="admin-navigation">
    <a href="/course/add">Add Courses</a> |
    <a href="/course/remove">Remove Courses</a> |
    <a href="/difficulty/add">Add Difficulty Level</a> |
    <a href="/instructor/add">Add Instructor</a> |
    <a href="/instructor/remove">Remove Instructor</a>
</nav>
<nav th:fragment="navigation">
    <a href="/course">Courses</a> |
    <a href="/instructor">Instructors</a> |
    <a href="/user/login">Login</a> |
    <a href="/user/signup">Create an Account</a> |
    <a href="/user/logout">Logout</a>
</nav>

</body>
</html>