<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>
<br/>

<table class="table">

    <tr>
        <th>Difficulty Levels</th>
    </tr>

    <tr th:each="difficulty : ${difficulties}">
        <td th:text="${difficulty.level}"></td>
    </tr>
</table>

<nav>
    <a href="/difficulty/add">Add</a> |
    <a href="/difficulty/remove">Remove</a>
</nav>


</body>
</html>